# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: GitHub CI - Publish to NPM (DRY)

on:
  workflow_dispatch:
  release:
    types:
      - published

env:
  access: public
  alias: leanupjs
  registry: https://npm.pkg.github.com
  tag: next
  token: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # https://unix.stackexchange.com/questions/112023/how-can-i-replace-a-string-in-a-files
      - name: Replace alias in all package.json's
        run: |
          find . -name "package.json" -type f -exec sed -i -e 's/"@leanup\//"@${{env.alias}}\//g' {} +

          find . -name "*.js" -type f -exec sed -i -e "s/'@leanup\//'@${{env.alias}}\//g" {} +
          find . -name "*.ts" -type f -exec sed -i -e "s/'@leanup\//'@${{env.alias}}\//g" {} +
          find . -name "*.tsx" -type f -exec sed -i -e "s/'@leanup\//'@${{env.alias}}\//g" {} +
          find . -name "*.svelte" -type f -exec sed -i -e "s/'@leanup\//'@${{env.alias}}\//g" {} +
          find . -name "*.vue" -type f -exec sed -i -e "s/'@leanup\//'@${{env.alias}}\//g" {} +

          find . -name "*.ts" -type f -exec sed -i -e "s/'@leanup'/'@${{env.alias}}'/g" {} +
          git diff
      - name: Set up Node.js
        uses: actions/setup-node@v2.1.4
        with:
          node-version: '14.x'
          registry-url: '${{env.registry}}'
          scope: '@${{env.alias}}'
      - name: Install and publish only @${{env.alias}}/stack-webpack
        run: |
          npm install
          npm publish --access=${{env.access}} --tag=${{env.tag}} || true
        working-directory: packages/stack/webpack
        env:
          NODE_AUTH_TOKEN: ${{env.token}}
      - name: Install and publish only @${{env.alias}}/stack
        run: |
          npm install
          npm publish --access=${{env.access}} --tag=${{env.tag}} || true
        working-directory: packages/stack/core
        env:
          NODE_AUTH_TOKEN: ${{env.token}}
      - name: Install and publish only @${{env.alias}}/lib
        run: |
          npm install
          npm publish --access=${{env.access}} --tag=${{env.tag}} || true
        working-directory: packages/lib
        env:
          NODE_AUTH_TOKEN: ${{env.token}}
      - name: Install and publish only @${{env.alias}}/cli-core-babel
        run: |
          npm install
          npm publish --access=${{env.access}} --tag=${{env.tag}} || true
        working-directory: packages/cli/core/babel
        env:
          NODE_AUTH_TOKEN: ${{env.token}}
      - name: Install and publish only @${{env.alias}}/cli
        run: |
          npm install
          npm publish --access=${{env.access}} --access=public --tag=${{env.tag}} || true
        working-directory: packages/cli/core
        env:
          NODE_AUTH_TOKEN: ${{env.token}}
      - name: Install and publish non @${{env.alias}}/cli, @${{env.alias}}/cli-core-babel, @${{env.alias}}/lib, @${{env.alias}}/stack and @${{env.alias}}/stack-webpack
        run: |
          npx lerna exec --ignore @template/* --ignore @${{env.alias}}/cli --ignore @${{env.alias}}/cli-core-babel --ignore @${{env.alias}}/lib --ignore @${{env.alias}}/stack --ignore @${{env.alias}}/stack-webpack --stream -- npm install
          npx lerna exec --ignore @template/* --ignore @${{env.alias}}/cli --ignore @${{env.alias}}/cli-core-babel --ignore @${{env.alias}}/lib --ignore @${{env.alias}}/stack --ignore @${{env.alias}}/stack-webpack --no-bail --stream -- npm publish --access=${{env.access}} --tag=${{env.tag}} || true
        env:
          NODE_AUTH_TOKEN: ${{env.token}}
      - name: Test all framework variants
        run: |
          rm ../.eslintrc.js
          sh wake-up-all.sh ${{env.alias}} ${{env.tag}}
        working-directory: scripts
        env:
          NODE_AUTH_TOKEN: ${{env.token}}
